<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.seoul.dao.SeoulMapper">
  <select id="seoulListData" resultType="com.it.seoul.vo.SeoulVO" parameterType="hashmap">
   SELECT * FROM seoul_location 
   ORDER BY no ASC limit #{start},#{end}
  </select>
  <select id="seoulTotalPage" resultType="int">
   SELECT CEIL(COUNT(*)/12.0) FROM seoul_location
  </select>
  <select id="seoulDetailData" resultType="com.it.seoul.vo.SeoulVO" parameterType="int">
    SELECT * FROM seoul_location
    WHERE no=#{no}
  </select>
</mapper>